* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Lato;
  font-size: 20px;
}

h1 {
  text-align: center;
  padding: 1em;
  font-size: 1.5rem;
}

.home-page h2 {
  padding: 0.5em
}

.home-page h4 {
  padding: 0.5em
}

footer{
  margin: 0.5em;
}

a {
  text-decoration: none;
  color: #000000;
}

.news{
  display:grid;
  grid-template-columns: repeat(3, 1fr);
}

.latest-news-cards{
  display:grid;
  grid-template-columns: repeat(3, 1fr);
}


.article-card{
  padding: 0.5em;
  border-style: solid;
  border-color: red;
  border-radius: 15px;
  margin: 0.2em;
  
}

.article-card img{
  width: 100%;
}

.article-page{
  display: grid;
  place-items: center;
}

.article-entry{
  width: 90%;
  display:grid;
  grid-auto-flow: row;
  grid-row-gap: 10px;
  padding: 1em;
  border-style: solid;
  border-color: red;
  border-radius: 15px;
}

.comment-section{
  width: 90%;
  display: grid;
  place-items: center;
  margin: 1em;
  border-style: solid;
  border-color: red;
  border-radius: 15px;
}

.comment-section h4 {
  padding: 0.5%;
}

.comment-card{
  padding: 0.5em;
  width: 95%;
  border-style: solid;
  border-color: rgb(171, 0, 0);
  border-radius: 15px;
  margin: 0.2em;
}

.vote-buttons button {
  width: 10em;
  height: 3em;
}

.user-profile{
  margin: 5%;
  display:grid;
  place-items: center;
  grid-auto-flow: row;
}

.user-profile img {
  width: 20%;
}

.home-logo {
  max-width: 5%;
  max-height: 5%;
}

.user-card img{
  max-width: 5%;
  height: auto;

}